<div>
    <title>RICK AND MORTY API</title>
</div>

<div class="general">
    <div class="logo">
        <a routerLink="/character/" class="logo">
            <img [src]="'https://upload.wikimedia.org/wikipedia/commons/thumb/b/b1/Rick_and_Morty.svg/2560px-Rick_and_Morty.svg.png'" alt="rick and morty logo">
        </a>
    </div>

    <div class="backgrd">
        <mat-card class="card-personajes">
            <div class="info-name">
                <mat-card-title> {{personaje.name}} </mat-card-title>
            </div>
            <img class="imagen" src="{{personaje.image}}" alt="imagen character">
            <div class="content">
                <mat-card-content>
                    Origin: {{personaje.origin.name}}
                </mat-card-content>
                <mat-card-content>
                    Location: {{personaje.location.name}}
                </mat-card-content>
                <mat-card-content>
                    Episodes: {{personaje.episode}}
                </mat-card-content>
            </div>
        </mat-card>
    </div>
</div>
