.general{
    background-color: #24325FFF;
}

.logo {
    display: flex;
    justify-content: center;
    width: auto;
    height: 150px;
    padding: 20px;
}

.backgrd {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.imagen {
    width: 100%;
    padding-top: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.card-personajes {
    background-color: #69C8ECFF;
    max-width: 500px;
    margin: 10px;
}