.general{
    background-color: #24325FFF;
    width: 100%;
    height: 100%;
}

.logo {
    display: flex;
    justify-content: center;
    width: auto;
    height: 150px;
    padding: 20px;
}

.backgrd {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.imagen {
    width: 360px;
    border-radius: 5px;
}

.card-personajes {
    background-color: #69C8ECFF;
    max-width: 360px;
    box-shadow: 
            0 0 1rem black;
}

.info-name {
    padding-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.info-name {
    padding: 10px;
}