<div>
    <title>RICK AND MORTY API</title>
</div>

<div class="general">
    <div class="logo">
        <a routerLink="/character/" class="logo">
            <img [src]="'https://upload.wikimedia.org/wikipedia/commons/thumb/b/b1/Rick_and_Morty.svg/2560px-Rick_and_Morty.svg.png'" alt="rick and morty logo">
        </a>
    </div>

    <div class="backgrd" *ngIf="load">
        <mat-card class="card-personajes">
            <div class="info-name">
                <p [ngClass]="personaje.status == 'Alive' ? 'Alive' : ''"></p>
                <mat-card-title style="color: #526E2DFF;"> {{personaje.name}} </mat-card-title>
            </div>
            <img class="imagen" src="{{personaje.image}}" alt="imagen character">
            <div class="content">
                <mat-card-subtitle style="color: black; padding: 10px;">
                    Gender: {{personaje.gender}} <br>
                    Species: {{personaje.species}} <br>
                    Origin: {{personaje.origin.name}} <br>
                    Location: {{personaje.location.name}}
                </mat-card-subtitle>
            </div>
        </mat-card>
    </div>
</div>
