.general{
    background-color: #24325FFF;
}

.logo {
    display: flex;
    justify-content: center;
    width: auto;
    height: 150px;
    padding: 20px;
}

.backgrd {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}