<div>
    <title>RICK AND MORTY API</title>
</div>

<div class="general">
    <div class="logo">
        <a routerLink="/character/" class="logo">
            <img [src]="'https://upload.wikimedia.org/wikipedia/commons/thumb/b/b1/Rick_and_Morty.svg/2560px-Rick_and_Morty.svg.png'" alt="rick and morty logo">
        </a>
    </div>
    
    <div class="backgrd">
        <ng-container *ngFor="let item of data">
            <mat-card class="card-personajes">
                <mat-card-header>
                  <mat-card-title style="color: #526E2DFF;">{{item.name}}</mat-card-title>
                  <mat-card-subtitle style="color: black">Status: {{item.status}}</mat-card-subtitle>
                </mat-card-header>
                <img routerLink="/character/{{item.id}}" class="imagen" src="{{ item.image }}" alt="imagen">
              </mat-card>
        </ng-container>
    </div>
</div>