.general{
    background-color: white;
}

.backgrd {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.logo {
    display: flex;
    justify-content: center;
    width: auto;
    height: 150px;
    padding: 20px;
}

.imagen {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
}

.card-personajes {
    background-color: #87E4F9FF;
    max-width: 350px;
    margin: 10px;
}